.container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
    border-radius: 5px;

    &:hover {
        background-color: #2F2739;
        cursor: pointer;
    }
}

.icon {
    color: #827E89;
    margin-right: 8px;
}

.inforItem {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
}

.inforItemZingchartM {
    flex: 7;
}

.topSong {
    font-size: 32px;
    color: var(--gray-text);
    font-weight: 500;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topSongZingchartM {
    width: 40px;
}

.suggest {
    font-size: 14px;
    color: var(--gray-text);
}

.lineIcon {
    color: var(--gray-text);
    margin-right: 10px;
}

.name {
    color: var(--gray-text);
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: flex-start;

    &:hover {
        color: var(--purple-primary);
        text-decoration: revert;
    }
}

.duration {
    color: var(--gray-text);
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
