.container {
    position: relative;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapTitle {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nameTitle {
    font-size: 40px;
    color: #fff;
}

.wrapIconPlay {
    width: 36px;
    height: 36px;
    background-color: #ffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    position: relative;
    height: 300px;
    margin-top: 40px;
}

.playlist {
    margin-top: 12px;
}

.wrapBtn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.btnAdd {
    width: 135px;
    height: 37px;
    border: solid 1px #ffff;
    border-radius: 20px;
    
    &:hover {
        cursor: pointer;
        background-color: #2C2537;
    }
}

.active {
    display: none;
}

.rank {
    padding: 30px 0;
}

.rankTitle {
    font-size: 40px;
    color: #ffff;
    font-weight: 500;
}

.content {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.countrySong {
    width: 33.3333%;
}

@media (max-width: 1278px) {
    .content {
        flex-direction: column;
        width: 100%;
        align-items: unset;
    }

    .countrySong {
        width: unset;
    }
}


