
.container {
    width: 100%;
    position: relative;
    padding-top: 32px;
}

.album {
    min-height: 75.5vh;
    display: flex;
    position: relative;
}

.wrrapInfor {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    p {
        color: #FFFFFF80;
        font-size: 12px;
        line-height: 20px;
    }
}

.wrrapImg {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    object-fit: contain;

    &:hover .playIcon{
        display: block;
    }
}

.imgAlbum {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease-in;

    &:hover {
        transform: scale(1.1);
        opacity: 0.6;
    }
}

.name {
    margin: 20px 0 7px 0;
    font-size: 20px;
    color: #ffff;
}

.singer {
    align-items: center;
}

.play {
    margin-top: 15px;
    width: 173px;
    height: 36px;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--purple-primary);
}

.wrrapOption {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.loveBtn,
.addBtn {
    width: 35px;
    height: 35px;
    background-color: #2C2436;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.playIcon {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    display: none;
    cursor: pointer;
}

.audioSpinner {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 2px #fff;
    padding: 7px;
}

.wrrapList {
    width: 100%;
    margin-left: 330px;
}

.header {
    color: #FFFFFF80;
    font-size: 14px;
}

.singerName {
    color: #ffff;
    font-size: 14px;
}

.playlist {
    margin-top: 10px;
}

.artist {
    height: 500px;
}