.container {
    display: flex;
    align-items: center;
}

.wrrapBtn {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.inforSong {
    margin-right: 20px;
    min-width: 230px;
}

@media (min-width: 1024px) and (max-width: 1278px) {
    .inforSong {
        min-width: 230px;
        margin-right: unset;
    }
}

@media (max-width: 1023px) {
    .inforSong {
        margin-right: unset;
        min-width: 170px;
    }

    .hidden {
        display: none;
    }
}
