.container {
    display: flex;
    align-items: center;
}

.wrrapBtn {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.inforSong {
    margin-right: 20px;
}

@media (max-width: 1278px) {
    .inforSong {
        margin-right: unset;
        min-width: 230px;
    }
}