.container {
    right: 100%;
    background-color: var(--sidebar-right-bg);
    height: 100vh;
}

.wrapTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 8px;
}

.wrapOptions {
    display: flex;
    align-items: center;
    background-color: #2A2139;
    padding: 3px;
    border-radius: 20px;
}

.btnOption {
    width: 119px;
    height: 28px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

.active {
    background-color: #6A6474;
    color: #fff;
}

.btnTimer,
.btnAdd {
    width: 32px;
    height: 32px;
    background-color: #271E36;
    border-radius: 50%;
    cursor: pointer;
}

.wrapPlaylist {
    overflow-y: scroll;
    height: 100%;
    padding: 0px 0px 0px 8px;
}

.playListTitle {
    padding: 15px 8px;
    font-size: 15px;
    line-height: 1.5;
}

.nextText {
    color: #ffff;
    font-weight: 600;
}

.fromText {
    color: var(--gray-text);
}

.sourseText {
    color: var(--purple-primary);
}

.wrapInforSong {
    padding: 6px 8px;
    border-radius: 5px;

    &:hover {
        background-color: #40384D;
    }
}

.slideLeft {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideRight {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
}

.activeCurSong {
    background-color: var(--purple-primary);

    &:hover {
        background-color: var(--purple-primary);
    }
}

.wrapRecent {
    height: 100%;
}

.bottomBox {
    height: 90px;
}