
.container {
    width: 100%;
    gap: 30px;
    display: flex;
    position: relative;

    &:hover .wrapBtnLeft{
        display: flex;
    }

    &:hover .wrapBtnRight{
        display: flex;
    }

}

.wrrapImg {
    width: 33.33333%;
    user-select: none;
}

.img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.orderFirst {
    order: 1;
    z-index: 2;
}

.orderBetween {
    order: 2;
    z-index: 2;
}

.orderLast {
    order: 3;
    z-index: 1;
}

.slideRight {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideLeft {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideLeft2 {
	-webkit-animation: slide-left2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideRight1 {
	-webkit-animation: slide-right1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideRight2 {
	-webkit-animation: slide-right2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slideLeft1 {
	-webkit-animation: slide-left1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left2 {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right1 {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right2 {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left1 {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.unactive {
    display: none;
}

.wrapBtnLeft {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    color: #ffff;
    transform: translateY(-50%);
    left: 10px;
    z-index: 4;
    cursor: pointer;
    display: none;
}

.wrapBtnRight {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    color: #ffff;
    transform: translateY(-50%);
    z-index: 4;
    right: 10px;
    cursor: pointer;
    display: none;
}