.container {
    --spacing: 28px;
    --columns: 5;
    display: flex;
    margin-left: calc(-1 * var(--spacing));
}

.wrapArtist {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
}

@media (max-width: 1278px) {
    .hidden {
        display: none;
    }

    .container {
        --columns: 4;
    }
}
