
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--primary-bg);
    padding: 0 59px;
}

.search {
    display: flex;
    align-items: center;
    color: var(--sidebar-text);
}

.btnLeft,
.btnRight {
    margin-right: 20px;
    color: var(--sidebar-text);
    cursor: pointer;
}

.searchInfor {
    background-color: var(--search-infor-bg);
    width: 442px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.formSeach {
    width: 430px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: hsla(0,0%,100%,0.1);
    padding-left: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.formSearchActive {
    background-color: var(--search-infor-bg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.iconSearch {
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.iconSearch:hover {
    color: rgba(255, 255, 255, 0.6);
}

.inputSearch {
    width: 372px;
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
    caret-color: #fff;
    color: #fff;
}

.inputSearch::placeholder {
    color: var(--sidebar-text);
}

.clearIcon {
    color: var(--gray-text);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: none;
}

.active {
    display: block;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    width: 38px;
    height: 38px;
}

.imgAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
