.container {
    --spacing: 28px;
    --columns: 5;
    margin-top: 40px;
}

.titleName {
    color: #ffff;
    font-size: 20px;
}

.wrapArtists {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: calc(-1 * var(--spacing));
}

.wrapItem {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

@media (max-width: 1278px) {
    .container {
        --columns: 4;
    }
}