
.slider {
    width: 100%;
    padding-top: 32px;
}

.newRelease {
    margin-top: 48px;
    width: 100%;
}

.songRank {
    margin-top: 50px;
}

.songChart {
    margin-top: 50px;
}

.theme {
    width: 100%;
    margin-top: 50px;
}

.weekChart {
    margin-top: 68px;   
    margin-bottom: 30px;
    display: flex;
    gap: 28px;
}

.wrapImgWeekChart {
    width: 33%;
    border-radius: 4px;
    overflow: hidden;
}

.imgWeekChart {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.07);
        cursor: pointer;
    }
}