
.container {
    --spacing: 28px;
    --columns: 5;
    width: 100%;
}

.wrapTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    color: #fff;
}

.content {
    display: flex;
    margin-left: calc(-1 * var(--spacing));
    flex-wrap: wrap;
}

.wrapItem {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

@media (max-width: 1278px) {
    .hidden {
        display: none;
    }

    .container {
        --spacing: 28px;
        --columns: 4;
    }
}
