.container {
    display: flex;
    flex-direction: column;
}

.wrrapContent {
    display: flex;
    margin-bottom: 89px;
    position: relative;
    width: 100%;
}

.sidebarLeft {
    min-width: 237px;
    position: fixed;
    left: 0;
    height: 100%;
}

.content {
    flex: 1;
    padding: 0 59px;
    background-color: var(--primary-bg);
    margin-left: 237px;
    position: relative;
}

.header {
    height: 70px;
    position: fixed;
    top: 0;
    right: 59px;
    left: 296px;
    z-index: 5;
}

.outlet {
    margin-top: 94px;
    width: 100%;
}

.sidebarRight {
    position: fixed;
    right: 0;
    z-index: 7;
}

.audio {
    height: 90px;
    background-color: var(--control-bg);
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
