.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.sidebarLeft {
    min-width: 240px;
}

.outLet {
    flex: 1;
    background-color: var(--primary-bg);
    padding: 0 59px;
}

.header {
    height: 70px;
}

.audio {
    height: 90px;
    padding: 0 20px;
    background-color: var(--control-bg);
    cursor: pointer;
}
