* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg: #231B2E;
    --primary-bg: #170f23;
    --control-bg: #130c1c;
    --purple-primary: #9b4de0; 
    --sidebar-text: #DADADA;
    --gray-text: #FFFFFF80;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
} 

body::-webkit-scrollbar-track {
    background-color: var(--primary-bg);
}

.backgroundLoading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scaleInCenter {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    cursor: pointer;
}

.scaleOutCenter {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-out-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    cursor: pointer;
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


