* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg: #231B2E;
    --primary-bg: #170f23;
    --control-bg: #130c1c;
    --purple-primary: #9b4de0; 
    --sidebar-text: #DADADA;
    --gray-text: #FFFFFF80;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
}