.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directional {
    display: flex;
}

.button {
    width: 35px;
    height: 35px;
    margin: 0 7px;
}

.play {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    color: #fff;

    &:hover {
        color: var(--purple-primary);
    }
}

.rotating {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid #ffff 2.5px;
}

.progressBar {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.totalDuration {
    width: 485px;
    background-color: #5A5560;
    height: 2.5px;
    position: relative;
    border-radius: 10px;

    &:hover {
        height: 6px;
    }

    &:hover .currentDuration {
        height: 6px;
    }
}

.currentDuration {
    width: 0;
    background-color: #ffff;
    height: 2.5px;
    position: absolute;
    border-radius: 10px;
}

.totalTimeCurrent {
    color: var(--gray-text);
    font-size: 12px;
    padding-right: 5px;
    font-weight: 500;
    user-select: none;
}

.totalTime {
    color: #ffff;
    font-size: 12px;
    padding-left: 7px;
    font-weight: 500;
}

