
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    margin-top: 40px;
}

.wrapInfor {
    max-width: 33.3333%;
    padding: 10px;
    background-color: #231B2E;
    border-radius: 5px;

    &:hover {
        background-color: #2F2739;
    }
}

.songs {
    margin-top: 40px;
}

.playlist {
    margin-top: 40px;
}

.wrapTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titleName {
    font-size: 20px;
    color: #ffff;
}

.wrapItem {
    --spacing: 28px;
    --columns: 5;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

.itemCss {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
}

.artists {
    margin-top: 40px;
}

@media (max-width: 1278px){
    .hidden {
        display: none;
    }

    .wrapItem {
        --columns: 4;
    }
}
