
.top {
    margin-top: 40px;
}

.wrapInfor {
    max-width: 33.3333%;
    padding: 10px;
    background-color: #231B2E;
    border-radius: 5px;

    &:hover {
        background-color: #2F2739;
    }
}

.songs {
    margin-top: 40px;
}

.playlist {
    margin-top: 40px;
}

.wrapTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titleName {
    font-size: 20px;
    color: #ffff;
}

.wrapItem {
    display: flex;
    gap: 30px;
}

.artists {
    margin-top: 40px;
}
